html body{
    margin: 0%;
    padding: 0%;
}
.img1{
    display: flex;
}
.btn{
    border: 2px solid white; 
}
header{
    width: 100%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMr8XoBipZ4IVaim--o1BvzaZTzOyk5IUznA&usqp=CAU);
    background-size: cover;
    display: flex;
    
}
h1{
    color: white;
    font-style: italic;
}
header  div{
    flex: 1;
}
 ul{
    
    list-style-type: none;
    justify-content: flex-end; 
    
    
}
ul li{

    display:inline-block;
    padding-right: 15px;
    padding-top: 50px;
    
}
a:link{
    color:white;
}
a:hover{
    color: orange;
}
a:visited{
    color: white;
}
a:active{
    color: violet;
}

i2{
    display: flex;
}
.sec1{
    display: flex;
    text-align: center;
}
.sec2{
    display: flex;
    text-align: center;
}
.sec3{
    display: flex;
    text-align: center;
}
 .a{
    flex: 1;
    
}
.b{
    flex: 1;
    
}
 .c{
    flex: 1;
    
}
.d{
    flex: 1;
    
}
.e{
    flex: 1;
}
.f{
    flex: 1;
    
}
.g{
    flex: 1;
    
}

.h{
    flex: 1;
    
}
.i{
    flex: 1;
    
}
footer{
    width: 100%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMr8XoBipZ4IVaim--o1BvzaZTzOyk5IUznA&usqp=CAU);
    background-size: cover;
    
    
}
.f1{
    display: flex;
    
}
.l1 li{
    display: block;
    
    text-align:center;

}
.l2 li{
    display: block;
    
    text-align:center;

}
.l3 li{
    display: block;
    
    text-align:center;

}
.f1{
    flex: 1;
}
.f2{
    flex: 1;
    
}
.f3{
    flex: 1;
}
